<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'farm.make-public' | translate }}</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'farm.assign-to-customer' | translate }}</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event, isPublic: isPublic})"
           ng-show="!isEdit && (farmScope === 'customer' || farmScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{ isPublic ? 'farm.make-private' : 'farm.unassign-from-customer' | translate }}</md-button>
<md-button ng-click="onDeleteFarm({event: $event})"
           ng-show="!isEdit && farmScope === 'tenant'"
           class="md-raised md-primary">{{ 'farm.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onFarmIdCopied(e)"
               data-clipboard-text="{{farm.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>farm.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && !isPublic && farmScope === 'tenant'">
        <label translate>farm.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <div class="tb-small" style="padding-bottom: 10px; padding-left: 2px;"
         ng-show="!isEdit && isPublic && (farmScope === 'customer' || farmScope === 'tenant')">
        {{ 'farm.farm-public' | translate }}
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'farm.basicInformation' | translate }}">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label translate>farm.name</label>
                        <input required name="name" ng-model="farm.name">
                        <div ng-messages="theForm.name.$error">
                            <div translate ng-message="required">farm.name-required</div>
                        </div>
                    </md-input-container>
                    <tb-entity-subtype-autocomplete
                            ng-disabled="$root.loading || !isEdit"
                            tb-required="true"
                            the-form="theForm"
                            ng-model="farm.type"
                            entity-type="types.entityType.farm">
                    </tb-entity-subtype-autocomplete>
                    <md-input-container class="md-block">
                        <label translate>farm.description</label>
                        <textarea ng-model="farm.additionalInfo.description" rows="2"></textarea>
                    </md-input-container>
                    <b>Las siguientes coordenadas representan a los vertices que delimitan la finca<br></b><br>
                    <md-button ng-click="addCoordinate()" background-color="grey">Add Coordinate</md-button>
                    <md-button ng-click="deleteCoordinate()" background-color="grey">Remove Coordinate</md-button><br>
                    <table style="font-family: arial, sans-serif; border-collapse: collapse; width: 75%;">
                        <tr>
                            <th style=" text-align: center ; padding: 8px; border: 1px solid #dddddd;">Latitud</th>
                            <th style=" text-align: center ; padding: 8px; border: 1px solid #dddddd;">Longitud</th>
                        </tr>
                    </table><br>
                    <div style="min-height: 200px;">
                        <label ng-repeat-start="label in labels">{{label}}</label>
                        <input ng-model='longitudes[$index]' type='text' value='' />
                        <input ng-model='latitudes[$index]' type='text' value='' /><br ng-repeat-end>
                    </div>
                    <md-button ng-click="saveEverything()">{{ 'farm.setLocation' | translate }}</md-button>
                    <md-input-container class="md-block">
                        <label translate>farm.location_description</label>
                        <textarea ng-model="farm.locationDescription" rows="2"></textarea>
                    </md-input-container>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label translate>farm.totalArea</label>
                            <input name="Area" ng-model="farm.totalArea.extension" required="true" ng-pattern="/^[0-9]+\.?[0-9]*$/" >
                        </md-input-container>
                        <md-input-container style="margin-right: 10px;">
                            <label translate>farm.UnitOfMeasurement</label>
                            <md-select ng-model="farm.totalArea.symbol" >
                                <md-option ng-repeat="sym in symbol" value="{{sym}}">{{sym}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div style="min-height: 500px;">
                        <div id="mapa"  style="height: 450px; width: 90%;"></div>
                    </div>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'farm.photographs' | translate }}">
                <md-content class="md-padding">
                    <form>
                        Select images: <input type="file" name="img" multiple onchange="angular.element(this).scope().getFileDetails(this)" >
                        <md-button ng-click="uploadFiles()" type="submit" class="md-raised md-primary">
                            {{ 'farm.uploadPictures' | translate }}
                        </md-button>
                    </form>
                    <div style="min-height: 1000px;">
                        <br>
                            <label>{{ 'farm.pictureAttach' | translate }}</label>
                            <input type="file" onchange="angular.element(this).scope().fileSelected(this)" /></br>
                            <md-button ng-click="uploadImage()" class="md-raised md-primary">{{ 'farm.saveFrontageFarmPicture' | translate }}</md-button>
                            <md-button ng-click="getFrontFarmImage()" class="md-raised md-primary">{{ 'farm.loadFrontagePicture' | translate }}</md-button>
                        </form>
                        <img src="data:image/*;base64,{{frontImage}}"/>
                    </div>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'farm.details' | translate }}">
                <md-content class="md-padding">

 <md-input-container >
                        <label>{{ 'farm.destinationLabel' | translate }}</label>
                        <md-select ng-model="farm.farmDetails.destination">
                            <md-option ng-repeat="dest in destination" value="{{dest}}">{{dest}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label translate>farm.use_details</label>
                        <textarea ng-model="farm.farmDetails.useDetails" rows="2"></textarea>
                    </md-input-container>
                    <label translate>farm.public_services</label>
                    <md-input-container style="margin-right: 10px;"  >
                        <div flex="50" ng-repeat="serv in publicServices">
                            <md-checkbox ng-click= "toggle(serv, farm.farmDetails.publicServices)" ng-checked="exists(serv, farm.farmDetails.publicServices)" >
                                {{serv}}
                            </md-checkbox>
                        </div>
                    </md-input-container>
                    <br>
                    <label translate>farm.productionTransport</label>
                    <md-input-container style="margin-right: 10px;">
                        <md-select ng-model="farm.farmDetails.productionTransport" >
                            <md-option ng-repeat="prod in productionTransport" value="{{prod}}">{{prod}}</md-option>
                        </md-select>
                    </md-input-container>
                    <div style="min-height: 1000px;">
                        <label>{{ 'waterPoint.title' | translate }}</label>
                        <md-input-container class="md-block">
                            <label translate>waterPoint.number</label>
                            <textarea ng-model="tempWaterPointNumber"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>waterPoint.resolution</label>
                            <textarea ng-model="tempWaterPointResolution"></textarea>
                        </md-input-container>
                        <md-button ng-click="addWaterPoint()">{{ 'waterPoint.addWaterPoint' | translate }}</md-button>
                        <table border="2 px">
                            <tr>
                                <td>{{ 'waterPoint.numberColumn' | translate }}</td>
                                <td>{{ 'waterPoint.resolutionColumn' | translate }}</td>
                                <td>{{ 'waterPoint.dateColumn' | translate }}</td>
                            </tr>
                            <tr ng-repeat="waterPoint in farm.farmDetails.waterPoints">
                                <td>{{ waterPoint.numberPoint }}</td>
                                <td>{{ waterPoint.resolution }}</td>
                                <td>{{ waterPoint.validity |date :  "dd/MM/y"}}</td>
                            </tr>
                        </table>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>

                    </div>








                   
                </md-content>
            </md-tab>
            <md-tab label="{{ 'farm.homeDetails.title' | translate }}">
                <md-tabs md-dynamic-height md-border-bottom>

                    <md-tab label="{{ 'farmDetails.homeInformation' | translate }}">
                        <div style="min-height: 1300px;">

                            <md-content class="md-padding">
                                <label translate>farm.homeDetails.homeMaterial</label>
                                <md-select ng-model="farm.homeDetails.homeMaterial" >
                                    <md-option ng-repeat="hmate in hmaterial" value="{{hmate}}">{{hmate}}</md-option>
                                </md-select>
                            </md-content>
                            <md-content class="md-padding">
                                <label translate>farm.homeDetails.floorMaterial</label>
                                <md-select ng-model="farm.homeDetails.floorMaterial" >
                                    <md-option ng-repeat="fmate in fmaterial" value="{{fmate}}">{{fmate}}</md-option>
                                </md-select>
                            </md-content>
                            <md-content class="md-padding">
                                <md-input-container class="md-block">
                                    <label translate>farm.homeDetails.rooms</label>
                                    <input name="Rooms" ng-model="farm.homeDetails.rooms" ng-pattern="/^[0-9]*$/">
                                </md-input-container>
                            </md-content>
                            <md-content class="md-padding">
                                <md-input-container class="md-block">
                                    <label translate>farm.homeDetails.dependingPeople</label>
                                    <input name="DependingPeople" ng-model="farm.homeDetails.dependingPeople" ng-pattern="/^[0-9]*$/">
                                </md-input-container>
                            </md-content>
                            <md-content class="md-padding">
                                <md-input-container class="md-block">
                                    <label translate>farm.homeDetails.workers</label>
                                    <input name="Workers" ng-model="farm.homeDetails.workers" ng-pattern="/^[0-9]*$/">
                                </md-input-container>
                            </md-content>
                            <md-content class="md-padding">
                                <label translate>farm.homeDetails.bathroom</label>
                                <md-select ng-model="farm.homeDetails.bathroom" >
                                    <md-option ng-repeat="bath in bathroom" value="{{bath}}">{{bath}}</md-option>
                                </md-select>
                            </md-content>
                            <md-content class="md-padding">
                                <label translate>farm.homeDetails.kitchen</label>
                                <md-select ng-model="farm.homeDetails.kitchen" >
                                    <md-option ng-repeat="kit in kitchen" value="{{kit}}">{{kit}}</md-option>
                                </md-select>
                            </md-content>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>
                        </div>
                    </md-tab>
                    <md-tab label="{{ 'farmDetails.peopleInformation' | translate }}">

                            <md-content class="md-padding">

                            <table border="2 px">
                                <tr>
                                    <td>{{ 'farm.person.name' | translate }}</td>
                                    <td>{{ 'farm.person.birthdate' | translate }}</td>
                                    <td>{{ 'farm.person.birthplace' | translate }}</td>
                                    <td>{{ 'farm.person.maritalStatus' | translate }}</td>
                                    <td>{{ 'farm.person.ethnicGroup' | translate }}</td>
                                    <td>{{ 'farm.person.relation' | translate }}</td>
                                </tr>
                                <tr ng-repeat="person in farm.homeDetails.people">
                                    <td>{{ person.name }}</td>
                                    <td>{{ person.birthday |date :  "dd/MM/y"}}</td>
                                    <td>{{ person.birthplace }}</td>
                                    <td>{{ person.maritalStatus }}</td>
                                    <td>{{ person.ethnicGroup }}</td>
                                    <td>{{ person.relation }}</td>
                                </tr>
                            </table>

                            <md-content class="md-padding">

                                <md-input-container class="md-block">
                                    <label translate>farm.person.name</label>
                                    <input name="Workers" ng-model="tempName"  >
                                </md-input-container>
                            </md-content>
                            <md-content class="md-padding">
                                <div flex-gt-xs="">
                                    <h4>{{ 'farm.person.birthdate' | translate }}</h4>
                                    <md-datepicker ng-model="tempBirthday" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
                                </div>
                            </md-content>
                            <md-content class="md-padding">
                                <md-input-container class="md-block">
                                    <label translate>farm.person.birthplace</label>
                                    <input name="Birthplace" ng-model="tempBirthplace" >
                                </md-input-container>
                            </md-content>
                            <md-input-container style="margin-right: 10px;">
                                <label translate>farm.person.maritalStatus</label>
                                <md-select ng-model="tempMaritalStatus" >
                                    <md-option ng-repeat="mari in maritalStatus" value="{{mari}}">{{mari}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="margin-right: 10px;">
                                <label translate>farm.person.ethnicGroup</label>
                                <md-select ng-model="tempEthnicGroup" >
                                    <md-option ng-repeat="eth in ethnicGroup" value="{{eth}}">{{eth}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container style="margin-right: 10px;">
                                <label translate>farm.relation</label>
                                <md-select ng-model="tempRelation" >
                                    <md-option ng-repeat="rela in relation" value="{{rela}}">{{rela}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-button ng-click="addPerson()">{{ 'farm.person.addPerson' | translate }}</md-button>

                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>

                </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
            <md-tab label="{{ 'farm.technologies' | translate }}">
                <md-content class="md-padding">
                    <label>{{ 'farm.irrigationSystems' | translate }}</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>irrigationSystem.name</label>
                            <textarea ng-model="tempNameIrrigation"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>irrigationSystem.description</label>
                            <textarea ng-model="tempDescriptionIrrigation"></textarea>
                        </md-input-container>
                        <md-button ng-click="addIrrigationSystem()">{{ 'farm.addIrrigationSystem' | translate }}</md-button>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="irrigation in farm.irrigationsSystems">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline">{{irrigation.name}}</span>
                                    <span class="md-subhead">{{irrigation.description}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-lg card-media"></div>
                                </md-card-title-media>
                            </md-card-title>
                        </md-card>
                    </div>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'farm.environment' | translate }}">
                <md-content class="md-padding">
                    <div style="min-height: 1000px;">
                        <label>{{ 'farm.localClimatology' | translate }}</label>
                        <md-input-container class="md-block">
                            <label translate>climatology.longitude</label>
                            <textarea ng-model="longitude"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>climatology.latitude</label>
                            <textarea ng-model="latitude"></textarea>
                        </md-input-container>
                        <md-button ng-click="climatology()">{{ 'farm.currentClimatologyData' | translate }}</md-button><br>
                        <label>{{ 'sensors.temperature' | translate }}: {{farm.enviroment.climatology.temperature}}</label><br>
                        <label>{{ 'sensors.humidity' | translate }}: {{farm.enviroment.climatology.humidity}}</label><br>
                        <label>{{ 'sensors.pressure' | translate }}: {{farm.enviroment.climatology.rainFall}}</label><br>
                        <label>{{ 'sensors.windSpeed' | translate }}: {{farm.enviroment.climatology.solarIrradiance}}</label><br>

                        <label>{{ 'farm.orography' | translate }}</label>
                        <md-input-container style="margin-right: 10px;">
                            <label translate>farm.orography</label>
                            <md-select ng-model="farm.enviroment.orography" >
                                <md-option ng-repeat="oro in orography" value="{{oro}}">{{oro}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>{{ 'farm.municipalDistanceInKM' | translate }}</label>
                            <input name="Area" ng-model="farm.enviroment.municipalDistance" ng-pattern="/^[0-9]+\.?[0-9]*$/" >
                        </md-input-container>

                        <label translate>farm.accessWay</label>
                        <md-input-container style="margin-right: 10px;">
                            <div flex="50" ng-repeat="way in ways">
                                <md-checkbox ng-checked="exists(way, farm.enviroment.access)" ng-click="toggle(way, farm.enviroment.access)" >
                                    {{way}}
                                </md-checkbox>
                            </div>
                        </md-input-container>
                        <br>
                        <label translate>farm.RoadState</label>
                        <md-input-container style="margin-right: 10px;">
                            <md-select ng-model="farm.enviroment.highwayState" >
                                <md-option ng-repeat="hig in highwayState" value="{{hig}}">{{hig}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                        <p style="color:white;">This is a temporal resize way for the farm tabs - Thingsboard </p>
                </md-content>

            </md-tab>
        </md-tabs>
    </fieldset>
</md-content>
