

<md-button ng-click="onMakePublic({event: $event})"
           ng-show="!isEdit && landlotScope === 'tenant' && !isAssignedToCustomer && !isPublic"
           class="md-raised md-primary">{{ 'landlot.make-public' | translate }}</md-button>
<md-button ng-click="onAssignToCustomer({event: $event})"
           ng-show="!isEdit && landlotScope === 'tenant' && !isAssignedToCustomer"
           class="md-raised md-primary">{{ 'landlot.assign-to-customer' | translate }}</md-button>
<md-button ng-click="onUnassignFromCustomer({event: $event, isPublic: isPublic})"
           ng-show="!isEdit && (landlotScope === 'customer' || landlotScope === 'tenant') && isAssignedToCustomer"
           class="md-raised md-primary">{{ isPublic ? 'landlot.make-private' : 'landlot.unassign-from-customer' | translate }}</md-button>
<md-button ng-click="onDeleteLandlot({event: $event})"
           ng-show="!isEdit && landlotScope === 'tenant'"
           class="md-raised md-primary">{{ 'landlot.delete' | translate }}</md-button>

<div layout="row">
    <md-button ngclipboard data-clipboard-action="copy"
               ngclipboard-success="onLandlotIdCopied(e)"
               data-clipboard-text="{{landlot.id.id}}" ng-show="!isEdit"
               class="md-raised">
        <md-icon md-svg-icon="mdi:clipboard-arrow-left"></md-icon>
        <span translate>landlot.copyId</span>
    </md-button>
</div>

<md-content class="md-padding" layout="column">
    <md-input-container class="md-block"
                        ng-show="!isEdit && isAssignedToCustomer && !isPublic && landlotScope === 'tenant'">
        <label translate>landlot.assignedToCustomer</label>
        <input ng-model="assignedCustomer.title" disabled>
    </md-input-container>
    <div class="tb-small" style="padding-bottom: 10px; padding-left: 2px;"
         ng-show="!isEdit && isPublic && (landlotScope === 'customer' || landlotScope === 'tenant')">
        {{ 'landlot.landlot-public' | translate }}
    </div>
    <fieldset ng-disabled="$root.loading || !isEdit">
        <md-tabs  md-dynamic-height md-border-bottom>
            <md-tab label="{{ 'landlot.details-title' | translate }}">
                <md-content class="md-padding">
                    <md-input-container class="md-block">
                        <label translate>landlot.name</label>
                        <input required name="name" ng-model="landlot.name">
                        <div ng-messages="theForm.name.$error">
                            <div translate ng-message="required">landlot.name-required</div>
                        </div>
                    </md-input-container>
                    <md-input-container style="margin-right: 10px;">
                        <label>Farm</label>
                        <md-select ng-model="landlot.farmId">
                            <md-option ng-repeat="farm in farms" value="{{farm.id.id}}">{{farm.name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <tb-entity-subtype-autocomplete
                            ng-disabled="$root.loading || !isEdit"
                            tb-required="true"
                            the-form="theForm"
                            ng-model="landlot.type"
                            entity-type="types.entityType.landlot">
                    </tb-entity-subtype-autocomplete>
                    <md-input-container class="md-block">
                        <label translate>landlot.description</label>
                        <textarea ng-model="landlot.additionalInfo.description" rows="2"></textarea>
                    </md-input-container>
                    <div style="min-height: 1000px;">
                        <div id="mapa"  style="height: 450px; width: 90%;"></div>
                    </div>
                    <div layout-gt-sm="row">

                        <md-input-container class="md-block">
                            <label translate>landlot.totalArea</label>
                            <input name="Area" ng-model="landlot.totalArea.extension" required="true" ng-pattern="/^[0-9]+\.?[0-9]*$/" >

                        </md-input-container>

                        <md-input-container style="margin-right: 10px;">
                            <label translate>landlot.UnitOfMeasurement</label>
                            <md-select ng-model="landlot.totalArea.symbol" >
                                <md-option ng-repeat="sym in symbol" value="{{sym}}">{{sym}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <label>{{ 'landlot.ground-features' | translate }}</label>
                    <div style="min-height: 1000px;">
                        <md-input-container class="md-block">
                            <label translate>ground.density</label>
                            <textarea ng-model="landlot.groundFeatures.density" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.compaction</label>
                            <textarea ng-model="landlot.groundFeatures.compaction" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.inclination</label>
                            <textarea ng-model="landlot.groundFeatures.inclination" rows="2"></textarea>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label translate>ground.higrologicData</label>
                            <textarea ng-model="landlot.groundFeatures.higrologicData" rows="2"></textarea>
                        </md-input-container>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="{{ 'landlot.crops-title' | translate }}" ng-click="someCrop()">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="{{ 'crop.current' | translate }}">
                        <md-content class="md-padding">
                                <button ng-click="finishCrop()">{{ 'crop.finish-crop' | translate }}</button>
                                <div style="min-height: 1000px;" ng-disable="!landlot.crop.finish">
                                    <md-input-container class="md-block">
                                        <label translate>{{ 'crop.name' | translate }}</label>
                                        <textarea ng-model="landlot.crop.name" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <div flex-gt-xs>
                                            <label>{{ 'landlot.start-date' | translate }}</label>
                                            <md-datepicker ng-model="landlot.crop.startCrop"  md-placeholder="Cambiar fecha"></md-datepicker>
                                        </div>
                                    </md-input-container>
                                    <label>{{landlot.crop.startCrop |date :  "dd/MM/y"}}</label>
                                    <md-input-container class="md-block">
                                        <label translate>{{ 'crop.why-crop' | translate }}</label>
                                        <textarea ng-model="landlot.crop.why" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>{{ 'crop.cause' | translate }}</label>
                                        <textarea ng-model="landlot.crop.cause" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>{{ 'crop.initial-conditions' | translate }}</label>
                                        <textarea ng-model="landlot.crop.initialConditions" rows="2"></textarea>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label translate>{{ 'crop.state' | translate }}</label>
                                        <textarea ng-model="landlot.crop.state" rows="2"></textarea>
                                    </md-input-container>
                                </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'crop.history' | translate }}">
                        <md-content class="md-padding">
                            <div style="min-height: 1000px;">
                                <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="crop in landlot.cropsHistory">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline">{{crop.name}}</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <t>
                                            <b>Fecha inicio:</b>
                                            <span>{{crop.startCrop |date :  "dd/MM/y"}}</span><br>
                                            <b>Fecha fin: </b>
                                            <span>{{crop.finishCropDate |date :  "dd/MM/y"}}</span><br>
                                            <b>Porque el cultivo:</b><br>
                                            <span>{{crop.why}}</span><br>
                                            <b>Causa:</b><br>
                                            <span>{{crop.cause}}</span><br>
                                            <b>Condiciones iniciales:</b><br>
                                            <span>{{crop.initialConditions}}</span><br>
                                            <b>Estado:</b><br>
                                            <span>{{crop.state}}</span>
                                        </t>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'crop.good-practices' | translate }}" ng-show="someCrop()">
                        <md-content class="md-padding">
                            <div flex="50" ng-repeat="prac in practices">
                                <md-checkbox ng-model="prac">
                                    {{prac}}
                                </md-checkbox>
                            </div>
                            <md-input-container style="margin-right: 10px;"  >
                                <div flex="50" ng-repeat="prac in practices">
                                    <md-checkbox ng-checked="exists(prac, landlot.crop.practices)" ng-click= "toggle(prac, landlot.crop.practices)" >
                                        {{prac}}
                                    </md-checkbox>
                                </div>
                            </md-input-container>
                        </md-content>
                    </md-tab>
                    <md-tab label="{{ 'crop.actions' | translate }}">
                        <md-content class="md-padding">
                            <div style="min-height: 1000px;">
                                <md-input-container class="md-block">
                                    <label translate>{{ 'crop.action' | translate }}</label>
                                    <textarea ng-model="action"></textarea>
                                </md-input-container>
                                <button ng-click="addActionCrop()">{{ 'crop.add-action' | translate }}</button>
                                <ul>
                                    <li ng-repeat="actionCrop in landlot.crop.actions">{{actionCrop.action}} -- {{actionCrop.actionDate |date :  "dd/MM/y"}}</li>
                                </ul>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-tab>
            <md-tab label="{{ 'landlot.tags-title' | translate }}">
                <md-content class="md-padding">
                    <div style="min-height: 1000px;">
                        <div layout-gt-xs="row">
                            <div flex-gt-xs>
                                <label>{{ 'landlot.start-date' | translate }}</label>
                                <md-datepicker ng-model="startDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
                            </div>
                            <div flex-gt-xs>
                                <label>{{ 'landlot.finish-date' | translate }}</label>
                                <md-datepicker ng-model="finishDate" md-current-view="year" md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div>
                        <md-button ng-click="updateSelectedDate()">{{ 'landlot.update-dates-btn' | translate }}</md-button>
                        <div>
                            <input ng-model="slider" type="range" min="{{minDate}}" max="{{maxDate}}" style="width:1000px" list="tickmarks">
                            <datalist id="tickmarks">
                                <option ng-repeat="fecha in fechas" value="{{fecha}}">
                            </datalist>
                        </div>
                        <md-input-container>
                            <input flex type="text" value="{{selectedDate |date:'dd/MM/yyyy'}}" aria-label="green" aria-controls="green-slider" style="width: 300px;">
                        </md-input-container>

                        <br>

                        <md-content class="md-padding">
                            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-swipe-content>
                                <md-tab ng-repeat="tab in tabs"
                                        ng-disabled="tab.disabled"
                                        label="{{tab}}">
                                        <highchart id="chart1" config="highchartsNG"></highchart>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                        <md-content class="md-padding">
                            <label>
                                <input type="radio" ng-model="photoType" ng-click="changeImageType()" value="GRE">
                                GRE
                            </label>
                            <label>
                                <input type="radio" ng-model="photoType" ng-click="changeImageType()" value="NIR">
                                NIR
                            </label>
                            <label>
                                <input type="radio" ng-model="photoType" ng-click="changeImageType()" value="RED">
                                RED
                            </label>
                            <label>
                                <input type="radio" ng-model="photoType" ng-click="changeImageType()" value="REG">
                                REG
                            </label>
                            <label>
                                <input type="radio" ng-model="photoType" ng-click="changeImageType()" value="RGB">
                                RGB
                            </label><br/>
                            <button ng-click="drawNewPolygon()">{{ 'landlot.draw-polygon' | translate }}</button>
                            <div style="min-height: 450px;">
                                <div id="mapa2"  style="height: 450px; width: 90%;"></div>
                            </div>
                            <textarea rows="4" cols="50" ng-model="tagLandLot" placeholder="{{ 'landlot.tag-landlot-placeholder' | translate }}"></textarea>                                
                            <md-button ng-click="addTagLandLot()" class="md-raised md-primary">
                                {{ 'landlot.create-landlot-tag' | translate }}
                            </md-button>
                        </md-content>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </fieldset>
</md-content>